[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_240014000150563046353420-if00
restart_method: command

[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
position_max: 312
rotation_distance: 40
microsteps: 16
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 50
homing_retract_dist: 0
position_min: -12
position_endstop: 312

[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
position_max: 300
rotation_distance: 40
microsteps: 16
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 50
homing_retract_dist: 0
position_min: -12
position_endstop: -5

[stepper_z]
endstop_pin: probe:z_virtual_endstop
step_pin: PE1
dir_pin: PE0
enable_pin: PC5
position_max: 300
rotation_distance: 4
microsteps: 16
homing_speed: 40


[tmc2209 stepper_x]
uart_pin: PE7
run_current: 1.1
hold_current: 0.500
stealthchop_threshold: 1
diag_pin: PB14
sense_resistor: 0.110
driver_SGTHRS: 70

[tmc2209 stepper_y]
uart_pin: PE15
run_current: 1.1
hold_current: 0.500
stealthchop_threshold: 1
diag_pin: PB13
sense_resistor: 0.110
driver_SGTHRS: 70

[tmc2209 stepper_z]
uart_pin: PD11
run_current: 1.0
hold_current: 0.500
stealthchop_threshold: 1

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 1500
max_accel_to_decel: 750
max_z_velocity: 15
max_z_accel: 20

[bltouch]
sensor_pin: ^PA0
control_pin: PA2
speed: 7
pin_move_time: 0.675
sample_retract_dist: 10
z_offset: 0

pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
x_offset: -28
y_offset: -13



[homing_override]
#set_position_z: 5
gcode:
    M400                  # Wait for moves to finish
    G90                   # Absolute positioning
#    G0 Z10 F600           # Hop Z-Axis
    M204 S1000            # Set homing acceleration (important!)

    # Home Y
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.4 HOLDCURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.4 HOLDCURRENT=0.4
    G28 Y
    G0 Y{printer.toolhead.axis_maximum.y / 2} F9000

    # Home X
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.5 HOLDCURRENT=0.5
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.5 HOLDCURRENT=0.5
    G28 X

    G0 X{printer.toolhead.axis_maximum.x / 2} F9000
 
    # Restore current
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer.configfile.config["tmc2209 stepper_x"].run_current} HOLDCURRENT={printer.configfile.config["tmc2209 stepper_x"].hold_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer.configfile.config["tmc2209 stepper_y"].run_current} HOLDCURRENT={printer.configfile.config["tmc2209 stepper_y"].hold_current}

	G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} F3000
	
    # Rehome Z
#    G28 Z
    
    # Safe Z
#    G0 Z10 F600
    
    # Restore acceleration
    M204 S{printer.configfile.config.printer.max_accel}
